body{
  margin: 0;
  padding: 0;
}
.container{
  width: 90%;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
}

/*Creating Columns without using float*/

.container p{
  -webkit-column-count: 3;
  column-count:3;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-rule: 1px solid #777;
  column-rule:1px solid #777;
  text-align: justify;
}