@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  /*width: 100vw; The scroll we see on the right occupy some space, if we use width:100% then it will cover the space
    before the scroll bar whereas if we use width:100vw(vw=view width) then area cover (i.e behind) by the scroll bar
    will also have our web page */
}
body > header{
  border-bottom: 3px solid #000;
  position: fixed;
  /* Fixed Positioning : The header will get fixed and it will go down when we scroll down the website. The rest of the
      content is positioned relative therefore that will go up and to fixed that we wuse margin top to the body.
     Relative Positioning: It is the Positioning which is by default there.
     Absolute Positioning: The header will be fixed but it will not go down when we scroll down the website. Here
       also the rest of the content go up.*/
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  top: 0px;/*Positioning element are top, left, right, bottom*/
  /*height: 100vh; bottom of the header part will fix to the viewport i.e 100% height of the viewport*/
}
body > header > h1{
  margin-left: 15px;
  font-weight: 400;
  text-shadow: 2px -2px 4px rgba(0,0,0,0.7);
  /*text-shadow have 4 elements, (i) right from the text (ii) bottom from the text (iii) spread of the shadow
  (iv) color of the shadow*/
  z-index: 6;/*to apply z-index position should not be on by default it must can be anything else relative, or fixed,
  or absolute*/
  position: relative;
}
#good-things{
  width: 1320px;
  margin: auto;
  margin-top: 10px;
}
article{
  max-width: 29.99%;
  display: inline-table;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 1px 10px 0.5px rgba(0, 0, 0, 0.4);
  /*box-shadow have 5 elements, (i) right from the box (ii) bottom form the box (iii) spread of the shadow
    (iv) density of the shadow (v) color of the shadow*/
    transition: box-shadow 300ms, background 200ms;
}
article:hover{
  box-shadow: 5px 6px 6px 1px rgba(0, 0, 0, 0.8);
  background: rgba(0,200,0,0.2);
}
.image{
  width: 100%;
  height: 270px;
  background-position: center !important;
  background-size: cover !important;
}
.normal{
  font-style: italic;
  color: #f00;
}
.bold{
  font-weight:300;
}
.normal.bold{
  font-weight: 700; /*.normal.bold is more specific then .bold*/
}
a {
  text-decoration: line-through overline underline;
  /*line-through, overline, underline, blink, none*/
  /*By default the link is underline but we can remove the underline part by applying
    text-decoration: none*/
    text-decoration-color: #000;/*make the color of the line to black*/
    text-decoration-style:dotted;/*make the line dotted*/
}
p{
  letter-spacing: 0.3px;/*we can set it no negative also i.e -2px or -20ox etc*/
  word-spacing: 2px;/*same goes for this i.e we can set negative pixels also*/
  /*1. text-indent: 20px; it will move the first word of the paragraph to right by 20px
    2. text-align: [left(by default), center, right].. in previous .html file we have use <center></center> to
       place something at center but now we will use "text-align"*/
}
a:hover{
  color:#00f;
}
.searching{
  width: 93.6%;
  display: block;
  padding: 8px;
  margin-left: 33px;
  margin-top: 10px;
}
.searching:focus{
  background: rgba(190, 190 ,190 ,0.3);
}
article:active{
  opacity: 0.7;
}
.searching{
  border-radius: 10px;/*all for corners will get rounded by 10px*/
  /*1. border-radius: 10px 20px => top-left(10) top-right(20) bottom-right(10) bottom-left(20)
    2. border-radius: 1px 2px 3px 4px => top-left(1) top-right(2) bottom-right(3) bottom-left(4)*/
  outline: none;
  border: 1px solid #ccc;
}
.image{
  width: 300px;  /*equal height and width and border-radius half of the height/width will make the element circular*/
  height: 300px;
  border-radius: 150px;
}
/* (i) border-top-left-radius: 10px => top-left border will get a curve of 10px
  (ii) border-top-left-radius: 10px 100px => the small part of edge right to the top-left corner will bend
      by 10px and the small part of the edge below the top-left corner will bend by 100px*/
#main-header::before{
  content:"";
  left: 5px;
  top: 18px;
  width: 5px;
  height: 40px;
  background: #f00;
  position: absolute;
}
#main-header::after{
  content:"";
  background: rgba(200,200,200,0.6);
  position: absolute;
  width: 320px;
  height: 60px;
  top: 10px;
  right: 1015px;
  z-index: 3;
}
.para{
  max-height: 100px;
  /*when we set max-height to 100px the max-height will become 100px (see inspection) but the rest of the content
  is overflowing. Now if we use overflow:hidden the rest of the content will get hidden and if we use
  overflow: scroll the rest of the content will pack in a box with scroll in x and y axis*/
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid rgba(0,0,0, 0.6);
  margin: 30px;
  padding: 5px;
  box-shadow: 3px 3px 5px 1px #000;
}
