body,html{
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.sky,.grass,.road{
  position: relative;
}
.sky{
  background-color: skyblue;
  height:40%;
}
.cloud{
  position: absolute;
}
.cloud:nth-child(1){
  height: 200px;
  animation: wind 50s linear infinite both;
}

.cloud:nth-child(2){
  height: 100px;
  top: 100px;
  opacity: 0.6;
  animation: wind 80s linear infinite both;
}
@keyframes wind{
  0%{left:-275px}
  100%{left: 1380px}
}
.grass{
  background-color: seagreen;
  height:30%;
}
.road{
  background-color:dimgrey;
  height: 30%;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  box-sizing: border-box;
}
.lines{
   height: 0px;
   border: 5px dashed white;
   position: absolute;
   top:45%; 
   width: 100%;
}
.mario{
  position: absolute;
  left: 0px;
  top: -20px;
  height: 90px;
  animation:drive 6s ease-in infinite both, jump 0.3s 4s 3 ease;
}
@keyframes drive{
  0%{transform:translate(-200px,0)}
  100%{transform:translate(1370px,0)}
}

.luigi{
  position: absolute;
  height: 90px;
  left: 0px;
  top: 90px;
  animation:drive 7s linear infinite both;
}
@keyframes jump{
  0%{top:-20px}
  50%{top: -50px}
  100%{top: -20px}
}
