body {
  background-color: #f4f4f4;
  color: #333;
  font: normal 16px Arial, helvetica, sans-serif;
  line-height: 1.6em;
  margin: 0px;
}

.container {
  width: 80%;
  margin: auto;
}

.box-1 {
  background-color: #333;
  color: #fff;
  border: 3px red solid;
  margin: 5px 0px;
  padding: 10px;
}

.box-1 h1, .box-2 h1 {
  text-transform: uppercase;
}

.box-2 {
  border: 3px #777 dotted;
  margin: 5px 0px;
  padding: 10px;
}

.categories {
  border: 3px #000 dashed;
  margin: 5px 0px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-shadow: 1px 1px 0px red;
}

a:visited {
  color: red;
}

.categories h2 {
  text-transform: uppercase;
}

.categories ul {
  list-style: square;
}

.categories li {
  padding-bottom: 2px;
  border-bottom: 1px solid #777;
}

.my-form {
  padding: 20px;
}

.form-group {
  padding-bottom: 15px;
}

label {
  display: block;
}

.form-group input[type="text"] {
  padding: 8px;
  width: 100%;
}

.form-group input[type="email"], .form-group textarea {
  padding: 8px;
  width: 100%;
}

.button {
  padding: 7px;
  background-color: #444;
  color: white !important;
}

.button:hover {
  background-color: red;
  color: white;
}

.block {
  float: left;
  width: 33.33%;
  padding: 10px;
  border: 1px solid #555;
  box-sizing: border-box;
}

.clr {
  clear: both;
}

.main-area {
  background: orange;
  float: left;
  width: 70%;
  padding: 5px;
  box-sizing: border-box;
}

.side-bar {
  float: right;
  width: 30%;
  padding: 5px;
  background-color: #444;
  color: white;
  box-sizing: border-box;
}

.p-box {
  margin-top: 5px;
  border: 1px solid black;
  height: 500px;
  position: relative;
  color: white;
  background-image: url('images/back.jpg');
}

.p-box h1 {
  position: absolute;
  top: 200px;
}

.p-box h2 {
  position: absolute;
  left: 150px;
  top: 100px;
}

.fix-me {
  position: fixed;
  top: 300px;
}

.list li:first-child {
  background: red;
}

.list li:last-child {
  background: yellow;
}

.list li:nth-child(6) {
  background: green;
}

.list li:nth-child(even) {
  color: blue;
}
