@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
body{
   margin: 0px;
   width: 100vw;
   font-family: 'Roboto', sans-serif;
}
body > header{
  border-bottom:3px solid #000;
  position: fixed;
  width: 100%;
  background: rgba(255,255,255,1);
}
body > header > h1{
  margin-left: 15px;
  font-weight: 400;
  text-shadow: 2px -2px 1px #aaa;
}
#top-stories{
  width: 1320px;
  margin: auto;
}
article{
  max-width: 29.99%;
  display: inline-table;
  border: 1px solid #000;
  margin:10px;
  padding: 10px;
  box-shadow: 3px 2px 1px 0px #777;
  transition: box-shadow 300ms, background 0.5s;
}
article:hover{
  box-shadow: 3px 2px 2px 1px #000;
  background: rgba(180,180,180,0.4);
}
.images{
  width: 100%;
  height: 270px;
  background-position: center !important;
  background-size: cover !important;
}
p {
  letter-spacing: 0.2px;
  word-spacing: 0.3px;
}
.searching{
  margin: 6px;
  margin-top: 100px;
  margin-left: 10px;
  padding: 9px;
  width: 1300px;
  border-radius: 10px;
  outline: none;
}
.link{
  font-style: italic;
  text-decoration: line-through overline underline;
  text-decoration-style: dotted;
  text-decoration-color:#070;
}
.click{
  font-weight:700;
}
.link:hover{
    color:#f00;
}
.searching:focus{
  background: rgba(200,200,200,0.3);
}
article:active{
  opacity:0.7;
}
header::before{
  position: absolute;
  content: "";
  margin-left: 4px;
  width: 8px;
  height: 38px;
  background: #f00;
  top: 20px;
}
header::after{
  position: absolute;
  content: "";
  width: 8px;
  height: 38px;
  background: rgba(0,0,255,1);
  top: 21px;
  left: 250px;
}
.para{
  max-height: 160px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #000;
  padding: 7px;
  margin: 10px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 3px 1px #777;

}
#foot{
  font-weight: 700;
  margin-left: 10px;
  z-index: 7;
}
footer::after{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #0c0;
}
footer::before{
  position: absolute;
  content: "";
  left: 24px;
  width: 146px;
  height: 20px;
  background: rgba(200,200,200,0.4);
  z-index: 4
}
