body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  color: #666;
  margin:0px;
  font-weight: 400;
}

.img1{
  background-image: url('images/house.jpeg');
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
.img2{
  background-image: url("images/mountain.jpeg");
  background-attachment: fixed;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
.img3{
  background-image: url("images/sea.jpeg");
  background-attachment: fixed;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
.img4{
  background-image: url('images/thanks.jpeg');
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
.sec{
  text-align: center;
  padding: 30px 60px;
}
.light{
  background: #f4f4f4;
  color:#666;
}
.dark{
  background: #282e34;
  color:#ddd;
}
.head, .end{
  position: absolute;
  margin: auto;
  top:48%;
  width:100%;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 20px 50px;
  font-size: 25px;
  word-spacing: 1em;
  text-align: center;
  letter-spacing: 0.2em;
}
.mid{
  position: absolute;
  top:48%;
  width:100%;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 35px;
  color:#fff; 
  word-spacing: 0.7em;
  letter-spacing: 0.2em;
  line-height: 1.5em;
}

span.text{
  background: #83478f;
  color: #000;
  padding: 10px;
 
}

@media(max-width:568px){
  .head, .end{
    line-height: 1.9em;
  }
}
@media(max-width:488px){
  .head, .end{
    word-spacing: 0px;
    letter-spacing: 0px;
  }
}
@media(max-width:383px){
  .head, .end{
    font-size: 22px;
    line-height: 2.1em;
  }
}