body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  color: #666;
  margin:0px;
  font-weight: 400;
}

.img1{
  background-image: url('images/house.jpeg');
  opacity: 0.8;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
.img2{
  background-image: url("images/mountain.jpeg");
  opacity: 0.8;
  background-attachment: fixed;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
.img3{
  background-image: url("images/sea.jpeg");
  opacity: 0.8;
  background-attachment: fixed;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
.img4{
  background-image: url('images/thanks.jpeg');
  opacity: 0.8;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
.sec{
  text-align: center;
  padding: 30px 60px;
}
.light{
  background: #f4f4f4;
  color:#666;
}
.dark{
  background: #282e34;
  color:#ddd;
}
.head, .end{
  position: absolute;
  top:304px;
  left:38%;
  text-transform: uppercase;
  background: rgb(24, 121, 206);
  padding: 20px 50px;
  color: #000;
  font-size: 25px;
  word-spacing: 1em;
}
.mid1, .mid2{
  position: absolute;
  top:180px;
  left:38%;
  text-transform: uppercase;
  font-size: 35px;
  color:#fff; 
  word-spacing: 0.7em;
}
.end{
  background: lightcoral;
}
